:root {
  --primary-color: #4a6baf;
  --secondary-color: #f8b400;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

body {
  background-color: var(--light-color);
}

.normal {
  background-color: #a8a77a;
  box-shadow: 0 0 10px rgba(168, 167, 122, 0.6);
}
.fire {
  background-color: #ee8130;
  box-shadow: 0 0 10px rgba(238, 129, 48, 0.6);
}
.water {
  background-color: #6390f0;
  box-shadow: 0 0 10px rgba(99, 144, 240, 0.6);
}
.electric {
  background-color: #f7d02c;
  box-shadow: 0 0 10px rgba(247, 208, 44, 0.6);
}
.grass {
  background-color: #7ac74c;
  box-shadow: 0 0 10px rgba(122, 199, 76, 0.6);
}
.ice {
  background-color: #96d9d6;
  box-shadow: 0 0 10px rgba(150, 217, 214, 0.6);
}
.fighting {
  background-color: #c22e28;
  box-shadow: 0 0 10px rgba(194, 46, 40, 0.6);
}
.poison {
  background-color: #a33ea1;
  box-shadow: 0 0 10px rgba(163, 62, 161, 0.6);
}
.ground {
  background-color: #e2bf65;
  box-shadow: 0 0 10px rgba(226, 191, 101, 0.6);
}
.flying {
  background-color: #a98ff3;
  box-shadow: 0 0 10px rgba(169, 143, 243, 0.6);
}
.psychic {
  background-color: #f95587;
  box-shadow: 0 0 10px rgba(249, 85, 135, 0.6);
}
.bug {
  background-color: #a6b91a;
  box-shadow: 0 0 10px rgba(166, 185, 26, 0.6);
}
.rock {
  background-color: #b6a136;
  box-shadow: 0 0 10px rgba(182, 161, 54, 0.6);
}
.ghost {
  background-color: #735797;
  box-shadow: 0 0 10px rgba(115, 87, 151, 0.6);
}
.dragon {
  background-color: #6f35fc;
  box-shadow: 0 0 10px rgba(111, 53, 252, 0.6);
}
.dark {
  background-color: #705746;
  box-shadow: 0 0 10px rgba(112, 87, 70, 0.6);
}
.steel {
  background-color: #b7b7ce;
  box-shadow: 0 0 10px rgba(183, 183, 206, 0.6);
}
.fairy {
  background-color: #d685ad;
  box-shadow: 0 0 10px rgba(214, 133, 173, 0.6);
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  }
  50% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  }
}
.stellar {
  background: linear-gradient(135deg, #0056b3, #0099ff, #5dc8ff);
  box-shadow: 0 0 10px rgba(93, 200, 255, 0.6);
  animation: glow 2s infinite alternate;
}
